@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icons/icomoon.eot?so3xku');
    src:  url('../fonts/icons/icomoon.eot?so3xku#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?so3xku') format('truetype'),
    url('../fonts/icons/icomoon.woff?so3xku') format('woff'),
    url('../fonts/icons/icomoon.svg?so3xku#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-backspace:before {
    content: "\e900";
}
