@media(prefers-color-scheme: dark) {
    body {
        background-color: #011627;
        color: #5f7e97;
    }

    .calc-bg {
        background-color: #0d1d2a;
    }

    .calc-btn {
        color: #5f7e97;
        background-color: #0b2942;
    }

    .calc-btn:hover {
        transition: .2s;
        background-color: #13344f;
    }
}